<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new Data</a></p>
    </div>

    <!-- Scraped data -->
    <div class="row" id="mars">
      <div class="col-md-12">
        <h2 class="heading"><strong>Latest Mars News</strong></h2>
        <h3 class="heading">{{mars.News_Title}}</h3>
        <h5 class="heading">{{mars.News_Descriptor}}</h5>
      </div>
    </div>
    <div class="row" id="mars_facts">
      <div class="col-md-8">
        <h2 class="heading"><strong>Featured Mars Image</strong></h2>
        <img src="{{link}}" alt=" Featured Image">
      </div>
      <div class= "col-md-4">
        <h5 class="heading"><strong>Mars Facts</strong></h5>
        <table class="table table-striped">{{mars.Mars_Fact_Table}}</table>
      </div>
    </div>
  <div class="row" id="mars_hemi">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="heading"><strong>Mars Hemispheres</strong></h2>
    </div>
  </div>
  <div class="row" id="mars_hemi_pics">
    <div class="col-md-12">
      <img src="{{mars.Hemisphere_Images}}" alt=" Hemi Image">
    </div>
  </div>



</body>

</html>

